/* GLOBAL STYLES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('background/BACKGROUND.gif') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

/* CONTAINER */
.container {
    padding: 20px 70px;
    color: #fff;
}

/* CURRENT INFO SECTION */
.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-date .time {
    font-size: 60px;
    font-weight: bold;
}

#am-pm {
    font-size: 60px;
    margin-left: 15px;
}

.current-date .date {
    font-size: 35px;
    margin-top: 10px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 500;
}

.place-container .country {
    font-size: 12px;
    font-weight: 300;
}

.others {
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.weather-item {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

/* FUTURE FORECAST SECTION */
.future-forecast {
    background: rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.today {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    padding: 15px 40px 15px 15px;
    border-radius: 10px;
    background: rgba(2, 9, 14, 0.2);
}

.today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.today .temp {
    font-size: 18px;
    margin: 5px 0;
}

.today .temp > span {
    font-weight: bold;
}

/* WEATHER FORECAST */
.weather-forecast {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.weather-forecast-item .day {
    padding: 5px 15px;
    background: #14141d;
    border-radius: 50px;
}

.weather-forecast-item .temp {
    font-size: 14px;
    margin-top: 5px;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 730px) {
    .container {
        padding: 20px;
    }

    .future-forecast {
        justify-content: start;
        overflow-y: auto;
    }

    .date-container .time {
        font-size: 50px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    /* Weather forecast styling on smaller screens */
    .weather-forecast-item {
        margin: 10px 5px;
        padding: 10px;
    }

    .today .temp {
        font-size: 16px;
    }
}
